p {
  color: green;
  border-bottom: 30px;
  font-family: "Times New Roman", Times, serif;
}
#bacontext {
  color: red;
  float: left;
}
img {
  display: block;
  margin: auto;
  width: 50%;
}
ul {color: pink;
border-bottom: 50px;
font-family: "Times New Roman", Times, serif;
float: right;}
